body {
    width: 80%;
    height: auto;
    margin: auto;
}

.menu {
    width: 100%;
    height: 50px;
    padding-top: 10px;
}

ul {
    padding-right: 10px;
}

.menu ul li {
    display: inline;
    padding-right: 10px;
}

.menu ul li:nth-child(1) {
    margin-left: 1%;
}

.menu ul li:nth-child(2) {
    margin-right: 61%;
}

.banner {
    width: 100%;
    height: auto;
    position: relative;
}

.banner h1 {
    position: absolute;
    top: 80px;
    left: 4%;
    color: white;
}

.banner p {
    position: absolute;
    top: 150px;
    left: 4%;
    color: white
}

.banner img {
    width: 100%;
    height: auto;
}

.main-content {
    background-color: beige;
}

.main-content h3 {
    margin-left: 4%;
    margin-top: -19px;
    padding-top: 40px;
}

.main-content p {
    margin-left: 4%;
}

.table-img div {
    display: inline-block;
}

.col {
    height: auto;
    margin-left: 4;
}

.table-img div img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 9%;
}

.table-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: grey;
}

.responsive {
    width: 100%;
    height: auto;
}

* {

    box-sizing: border-box;
}